.page-welcome {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.page-welcome svg {
    width: 100%;
    max-width: 400px;
}