html, body {
    margin: 0;
    padding: 0;
}

html, body, * {
    box-sizing: border-box;
}

.page-welcome {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 4rem;
    background-size: 115px 115px;
    background-color: #ffffff;
    background-position: 0 0,55px 55px;
    background-image:  
        radial-gradient(#0d52bf 2px, transparent 2px), 
        radial-gradient(#0d52bf 2px, #ffffff 2px);
}

.page-welcome svg {
    width: 100%;
    max-width: 320px;
    background-color: white;
}

.page-welcome h1 {
    font-size: 4rem;
    max-width: 960px;
    font-weight: 900;
    text-align: center;
    line-height: 1.1;
    margin: 0px auto 2rem;
    letter-spacing: -.5px;
    background-color: white;
    color: #4d4d4d;
}

.page-welcome h1 span {
    background: -webkit-linear-gradient(315deg,#0D52Bf 25%,#001F66);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-welcome a {
    font-size: 1.4rem;
    font-family: "OpenSans", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: white;
    color: #001F66;
    display: flex;
    align-items: center;
}

.buttons {
    margin-bottom: 2rem;
}

.buttons a {
    border: none;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 2px 8px -1px rgba(10, 22, 50, .24);

    margin: 0;
    color: #ffffff;
    padding: 14px 40px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
}

.buttons a.doc {
    background: #184fee;
}

.buttons a.start {
    background: #444444;
}